.exercise-container {
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercise-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 60vw;
  min-width: 600px;
  margin-top: 15%;
}

.exercise-wrap > div {
  flex: 0 1 calc(25% - 50px);
  margin: 25px;
}

.exercise-btn {
  position: relative;
  display: grid;
  place-items: center;
  width: 220px;
  height: 220px;
  border-radius: 100%;
  border: 0.5rem solid #ffc853;
  -webkit-box-shadow: 0px 10px 0px 4px #dfaa3a;
  -moz-box-shadow: 0px 10px 0px 4px #dfaa3a;
  box-shadow: 0px 10px 0px 4px #dfaa3a;
}

.exercise-btn:hover {
  -webkit-box-shadow: 0px 0px 0px 0px;
  -moz-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
  top: 10px;
}

.check-area {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #ffc853;
  border-radius: 100%;
  top: 5%;
  right: 10%;
}
.check-mark {
  position: absolute;
  width: 59px;
  height: 48px;
  top: 0;
  right: 0%;
  background-image: url("../img/exercise/check-mark.png");
}

.exercise-btn h1 {
  margin: 10px 0px 0px 0px;
  font-size: 2.65rem;
  font-weight: 700;
  text-align: center;
  color: white;
  width: auto;
}

/* .exercise-table .ant-table .ant-table-tbody > tr:hover > td {
  background: #a6aeb8;
}

/* !Excercise Detail */
.exercise-detail-container {
  min-height: 86vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ant-modal-body > p {
  display: grid;
  place-items: center;
  margin: 15px auto 0 auto;
}
.exercise-btn {
  margin: 0 0 50px 0;
}
