.exercise-bg {
  height: 100%;
  width: 100%;
  background: url("../img/exercise/exercise-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.exercise-container {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exercise-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 45vw;
  min-width: 600px;
  min-height: 75vh;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  margin: 15px 0;
}

.exercise-wrap > div {
  flex: 0 50%;
}

.exercise-btn {
  display: grid;
  place-items: center;
  width: 250px;
  height: 165px;
}

.blue {
  background: url("../img/exercise/blue.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.green {
  background: url("../img/exercise/green.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.orange {
  background: url("../img/exercise/orange.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.pink {
  background: url("../img/exercise/pink.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.exercise-btn h1 {
  margin: 0px !important;
  font-size: 2rem;
  color: black;
  width: auto;
}

/* .exercise-table .ant-table .ant-table-tbody > tr:hover > td {
  background: #a6aeb8;
}

/* !Excercise Detail */
.exercise-detail-container {
  min-height: 86vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ant-modal-body > p {
  display: grid;
  place-items: center;
  margin: 15px auto 0 auto;
}
.exercise-btn {
  margin: 0 0 50px 0;
}
