.exercise-container {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exercise-title {
  background: url("../img/home/header-bg.png");
  min-width: 281.58px;
  min-height: 126.16px;
  display: grid;
  place-items: center;
  margin: 50px 0 200px 0;
}

.exercise-title > h1 {
  margin: 0px !important;
  font-size: 3rem;
  color: white;
}

.exercise-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 60vw;
  margin: 0 20px 10vh 20px;
}

.exercise-wrap > div {
  flex: 0 1 320px;
  margin: 0 20px 20px 20px;
}

.exercise-btn {
  display: grid;
  place-items: center;
  width: 320px;
  height: 150px;
  background: url("../img/big-layer-btn.png");
  background-size: contain;
}

.exercise-btn h1 {
  margin: 0px !important;
  font-size: 3rem;
  color: white;
  width: auto;
}

/* .ant-table-wrapper {
  width: 80vw;
}

.ant-table-thead > tr > th {
  color: white;
  background: #3071b9 !important;
}

.ant-table-tbody > tr > th {
  color: white;
  background: #3071b9 !important;
} */

/* .exercise-table .ant-table .ant-table-tbody > tr:hover > td {
  background: #a6aeb8;
} */

/* !Excercise Detail */
.exercise-detail-container {
  min-height: 86vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ant-modal-body > p {
  display: grid;
  place-items: center;
  margin: 15px auto 0 auto;
}
.exercise-btn {
  margin: 0 0 50px 0;
}
