.game-container {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 60vw;
  min-width: 600px;
  background: #bae7ff;
  border-radius: 30px;
}
.game-wrap > div {
  flex: 0 1 calc(33% - 50px);
  margin: 25px;
}

.game-btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  width: 220px;
  height: 220px;
  background-image: url("../img/game/game-btn1.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.game-btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  width: 220px;
  height: 220px;
  background-image: url("../img/game/game-btn2.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.game-btn3 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  width: 220px;
  height: 220px;
  background-image: url("../img/game/game-btn3.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.game-btn4 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  width: 220px;
  height: 220px;
  background-image: url("../img/game/game-btn4.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.game-btn1 h1,
.game-btn2 h1,
.game-btn3 h1,
.game-btn4 h1 {
  margin: 0;
  padding: 0;
  font-family: iciel-cadena;
  font-size: 3em;
  font-weight: bold;
  color: white;
}
.game-btn1:hover,
.game-btn2:hover,
.game-btn3:hover,
.game-btn4:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(10deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-ms-keyframes wiggle {
  0% {
    -ms-transform: rotate(1deg);
  }
  25% {
    -ms-transform: rotate(-1deg);
  }
  50% {
    -ms-transform: rotate(1.5deg);
  }
  75% {
    -ms-transform: rotate(-5deg);
  }
  100% {
    -ms-transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* ! Play game */

.play-game-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 85vh;
  margin-bottom: 50px;
}

/* ! Game Result  */

.result-container {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ! Matching Game CSS */

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  grid-auto-rows: minmax(150px, auto);
}

.one,
.two,
.three,
.four,
.five,
.six {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  float: left;
  width: 150px;
  height: 80px;
  background-color: #f0f8ff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.matching-pair {
  display: flex;
  justify-content: center;
  align-items: center;
}

.matching-question-img {
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
  display: grid;
  place-items: center;
  border-radius: 15px;
  z-index: 2;
  background-color: white;
}

.matching-question-img img {
  width: 100%;
  height: auto;
}

.matching-true {
  border: 8px solid aquamarine;
}

.matching-false {
  border: 8px solid lightcoral;
}

.true-bubble {
  position: absolute;
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  background-color: aquamarine;
  border-radius: 100px;
  z-index: 1;
}
.false-bubble {
  position: absolute;
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  background-color: lightcoral;
  border-radius: 100px;
  z-index: 1;
}

/* ! Swap Game Css */

.swap-game-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swap-question {
  width: 250px;
  height: 250px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: grid;
  place-items: center;
  margin: 0px 50px 0px 50px;
  background-color: white;
}
.swap-question-true {
  border: 8px solid aquamarine;
}

.swap-question-false {
  border: 8px solid lightcoral;
}

/* ! Matching Math Game CSS */

.game-match-math-wrap {
  position: relative;
  display: grid;
  place-items: center;
  width: 70vw;
  height: 100%;
  grid-template-columns: repeat(1, 1fr);
}

.game-match-math-item {
  position: relative;
  border: 0.5rem solid #ffc853;
  border-bottom-width: 1px;
  display: grid;
  place-items: center;
  width: 80%;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
}
.game-match-math-item:last-child {
  border-bottom-width: 0.5rem;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.game-match-math-item:first-child {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.question-border {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  height: 200px;
  border: 0.5rem solid #ffc853;
  border-left-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
}

.question-border img {
  width: 100%;
  height: 200px;
}
.question-border img:first-child {
  border-bottom-left-radius: 20px;
}
.question-border img:last-child {
  border-top-left-radius: 20px;
}

.game-match-math-item .math-one {
  border-top-right-radius: 30px;
}
.game-match-math-item .math-four {
  border-bottom-right-radius: 30px;
}

.math-one,
.math-two,
.math-three,
.math-four,
.math-five,
.math-six {
  display: grid;
  place-items: center;
  position: relative;
  transition: 0.5s;
  width: 100%;
  height: 100%;
  background-color: #f0f8ff;
}

/* ! Choosing Game CSS */

.game-choosing-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 80vw;
}
.game-choosing-title {
  display: grid;
  place-items: center;
  min-width: 200px;
  min-height: 200px;
  background-color: #f1441f;
  border: 0.5rem solid #a92c11;
  border-radius: 30px;
  transform: rotate(45deg);
  margin-bottom: 50px;
}

.game-choosing-title > div {
  transform: rotate(-45deg);
}
.game-choosing-title h1 {
  font-family: iciel-cadena;
  font-size: 5em;
  font-weight: bold;
  color: white;
}
.game-choosing-option {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
}
/* .game-choosing-option > div {
  flex: 0 1 200px;
  height: 200px;
  margin: 30px 80px;
} */
.game-choosing-option-item {
  display: grid;
  place-items: center;
  min-width: 150px;
  min-height: 150px;
  max-width: 200px;
  max-height: 200px;
  background-color: aquamarine;
  border-radius: 30px;
  cursor: pointer;
  /* transform: rotate(45deg); */
}

.game-choosing-option-item img {
  width: 100%;
  height: auto;
  /* transform: rotate(-45deg); */
}

.game-choosing-option-item.game-choosing-option-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

/* ! Filling Game CSS */
.game-filling-option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-filling-option .ant-form-item,
.game-filling-option h1 {
  margin: 0;
}
.game-filling-option h1 {
  font-family: iciel-cadena;
  font-size: 5em;
  font-weight: bold;
}
.game-filling-option input {
  width: 200px;
  height: 200px;
  border-radius: 30px;
  margin: 0 50px;
  border: 0.5rem solid #7a990c;
  background-color: #97bf06;
  text-align: center;
  font-family: iciel-cadena;
  font-size: 2.5em;
  font-weight: bold;
}
.game-filling-option .ant-input:hover {
  border-color: #7a990c;
  border-right-width: 0.5rem !important;
}
.game-filling-option .ant-input:focus {
  border-color: #7a990c;
  border-right-width: 0.5rem !important;
}
.game-filling-option input {
  caret-color: white;
}
.game-filling-option .ant-btn-primary {
  text-shadow: rgba(0, 0, 0, 0);
}

[ant-click-animating-without-extra-node="true"]::after,
.ant-click-animating-node {
  animation-duration: 0s !important;
}
