.game-container {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-title {
  background: url("../img/title-layer.png");
  min-width: 272px;
  min-height: 100px;
  display: grid;
  place-items: center;
  margin: 70px 0 100px 0;
}

.game-title > h1 {
  font-size: 2.5rem;
  color: white;
}

/* !Game Slider */

.game-slider-wrap {
  width: 60vw;
  margin: 0 20px 10vh 20px;
}

.game-slider-btn {
  display: grid;
  place-items: center;
  min-width: 204px;
  min-height: 95px;
  width: 204px;
  height: 95px;
  background: url("../img/big-layer-btn.png");
  background-size: cover;
}

.game-slider-btn h1 {
  margin: 0px !important;
  font-size: 2.5rem;
  color: white;
  width: auto;
}

li.react-multi-carousel-item.react-multi-carousel-item--active {
  display: grid;
  place-items: center;
}

/* ! Play game */

.game-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  min-width: 1230px;
  min-height: 76vh;
  height: 76vh;
  margin: 20px 20px 20px 20px;
  background: lightgoldenrodyellow;
  border-radius: 30px;
}

.play-btn {
  display: grid;
  place-items: center;
  width: 174.95px;
  height: 79.13px;
  background: url("../img/layer-btn.png");
  cursor: pointer;
}

.play-btn h2 {
  color: white;
  font-size: 25px;
}

.game-inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

/* ! Play game */

.play-game-container {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ! Game Result  */

.result-container {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ! Matching Game CSS */

.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  grid-auto-rows: minmax(150px, auto);
}

.one,
.two,
.three,
.four,
.five,
.six {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  float: left;
  width: 150px;
  height: 80px;
  background-color: #f0f8ff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.matching-pair {
  display: flex;
  justify-content: center;
  align-items: center;
}

.matching-question-img {
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
  display: grid;
  place-items: center;
  border-radius: 15px;
  z-index: 2;
  background-color: white;
}

.matching-true {
  border: 8px solid aquamarine;
}

.matching-false {
  border: 8px solid lightcoral;
}

.true-bubble {
  position: absolute;
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  background-color: aquamarine;
  border-radius: 100px;
  z-index: 1;
}
.false-bubble {
  position: absolute;
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  background-color: lightcoral;
  border-radius: 100px;
  z-index: 1;
}

/* ! Swap Game Css */

.swap-game-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swap-question {
  width: 200px;
  height: 180px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: grid;
  place-items: center;
  margin: 0px 50px 0px 50px;
  background-color: white;
}
.swap-question-true {
  border: 8px solid aquamarine;
}

.swap-question-false {
  border: 8px solid lightcoral;
}
