/* Menu Header */

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%;
}

.ant-layout-header {
  display: block;
  height: 15%;
  padding: 0 50px;
  background: url("../img/home/header-bg.png");
}

.logo img {
  height: 10vh;
}

.logo {
  height: 10vh;
}

.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  color: rgba(255, 255, 255, 0.65);
}

/* Menu content */
.menu-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.home-btn {
  display: block;
  width: 174.95px;
  height: 79.13px;
  background: url("../img/home/home-btn.png");
}
.notice-btn {
  display: block;
  width: 174.95px;
  height: 79.13px;
  background: url("../img/home/notice-btn.png");
}
.subject-btn {
  display: block;
  width: 174.95px;
  height: 79.13px;
  background: url("../img/home/subject-btn.png");
}
.score-btn {
  display: block;
  width: 174.95px;
  height: 79.13px;
  background: url("../img/home/score-btn.png");
}
.profile-btn {
  display: block;
  width: 174.95px;
  height: 79.13px;
  background: url("../img/home/profile-btn.png");
}
.logout-btn {
  display: block;
  width: 116.37px;
  height: 58.95px;
  background: url("../img/home/logout-btn.png");
}

/* Dropdown profile */
.anticon.anticon-up {
  font-size: 24px;
  vertical-align: baseline;
}
.anticon.anticon-down {
  font-size: 24px;
  vertical-align: baseline;
}

button.ant-btn.ant-btn-link {
  height: fit-content;
}

.drop-down {
  position: fixed;
  z-index: 999;
  margin: 10px 0 0 45px;
}

.drop-down-inactive {
  display: none;
}

.drop-down-profile {
  background: white;
  width: 200px;
  height: 60px;
  padding: 10;
  border: 0px solid #000000;
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  -webkit-box-shadow: 0px 8px 0px 0px #f2ad00;
  -moz-box-shadow: 0px 8px 0px 0px #f2ad00;
  box-shadow: 0px 8px 0px 0px #f2ad00;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-down-button {
  padding-top: 15px;
}

/* Slide Show */
/* .content-slide-show {
  margin-top: 14vh;
} */
.slide-show {
  width: 100%;
  height: 807px;
}

.slider {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.slider > img {
  position: absolute;
}

/* 
.content-slide-show img {
  width: 100%;
  height: 100%;
} */

.left-btn {
  background: url("../img/home/left-btn.png");
  background-repeat: none;
  cursor: pointer;
  width: 85px;
  height: 85px;
}
.right-btn {
  background: url("../img/home/right-btn.png");
  background-repeat: none;
  cursor: pointer;
  width: 85px;
  height: 85px;
}

/* Annoucement */
.site-layout {
  background-color: #f0f2f5;
}

.announcement {
  min-height: 50vh;
  width: 100%;
  padding: 8vh 30vh;
}

.announcement-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -120px;
}

.notice-img {
  position: relative;
  margin-bottom: 65px;
}

.outter-border {
  display: block;
  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  border: 0px solid;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 345px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-border {
  display: block;
  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  border: 0.83px dashed #838383;
  width: 354px;
  height: 304px;
  display: flex;
  justify-content: baseline;
  align-items: flex-start;
  flex-direction: column;
  padding: 55px 25px 25px 25px;
}

.inner-border .notice-title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.notice-title h4 {
  margin-left: 10px;
}

.inner-border .notice-content {
  margin-top: 15px;
}

.see-all-btn {
  display: block;
  width: 268.41px;
  height: 121.41px;
  background: url("../img/home/see-all-btn.png");
  margin-top: 90px;
}

/* Subject Home */
.subject-home {
  min-height: 1200px;
  width: 100%;
  background: url("../img/home/subject-home-bg.png");
  background-size: cover;
}

.subject-home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Footer */

.footer-bg {
  background: url("../img/home/footer-bg.png");
}
.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 25vh;
  height: 328px;
}

.left-content h1,
.left-content h3 {
  color: white;
}

.left-content li {
  list-style: none;
  color: white;
}

.right-content {
  width: 500px;
  height: 300px;
  background-color: white;
}
