/* Menu Header */

    
.animatedtabs{

  overflow: hidden;
  width: 100%;
  height: 130px;
  font-size: 14px; /*font of menu text*/
  }
  
  
  .animatedtabs ul{
  list-style-type: none;
  margin: 0;
  margin-left:11%; /*offset of first tab relative to page left edge*/
  padding: 0;
  }
  
  .animatedtabs li{
  float: left;
  margin: 0;
  padding: 0;
  }
  
  .animatedtabs .hover-zone{
  float: left;
  position: relative;
  top: -1px; 
  margin: 0;
  text-decoration: none;
  
  }
  
  .animatedtabs .hover-zone li{
  float: left;
  position: relative;
  display: block;
  font-weight: bold;
  color: black;
  }
  
  /* Commented Backslash Hack hides rule from IE5-Mac \*/
  .animatedtabs .hover-zone span {float:none;}
  /* End IE5-Mac hack */
  
  
  .animatedtabs .selected .hover-zone{
   
  }
  
  .animatedtabs .selected .hover-zone span{
  background-position: 100% -125px;
  color: black;
  padding-bottom: 8px; 
  top: 0;
  }
  
  .animatedtabs .hover-zone:hover{
  background-position: 0% -125px;
  top: 0;
  }
  
  
  .animatedtabs .hover-zone:hover{
  background-position: 100% -125px;
  padding-bottom: 8px;
  top: 17px;
  
  }
  
  .menu-buttons{
    position: relative;
    top: -25px;
    padding-top: 100px;
    width: 180px;
    height: 150px;
  }
  
                                          /* InActive Hover - before hover*/
  
  .acHome{
    background: url("../img/home/inactive-home.png");
    background-repeat: no-repeat;
    top: -40px;
    background-size: 180px;
    width: 180px;
    height: 165px;
   
    }
  
  .acNotice{
    
    background: url("../img/home/inactive-notice.png");
    background-repeat: no-repeat;
    background-size: 180px;
    left: -2px;
    
  }
  .acSubject{
    background: url("../img/home/inactive-subject.png");
    background-repeat: no-repeat;
    background-size: 180px;
    left: -5px;
  }
  
  .acScore{
    background: url("../img/home/inactive-score.png");
    background-repeat: no-repeat;
    background-size: 180px;
    left: -7.5px;
  }
  .acProfile{
    background: url("../img/home/inactive-profile.png");
    background-repeat: no-repeat;
    left: -9px;
    background-size: 180px;
  }
  .acLogout{
    background: url("../img/home/inactive-logout.png");
    background-repeat: no-repeat;
    top: -50px;
    left: -11px;
    background-size: 140px;
  }
  
                                                  /* Active Hover */
  .acHome:hover{
    background: url("../img/home/active-home.png");
    background-repeat: no-repeat;
    top: -40px;
    background-size: 183px;
    width: 180px;
    height: 165px;
  }
  .acNotice:hover{
    
    background: url("../img/home/active-notice.png");
    background-repeat: no-repeat;
    background-size: 180px;
    left: -2px;
    
  }
  .acSubject:hover{
    background: url("../img/home/active-subject.png");
    background-repeat: no-repeat;
    background-size: 180px;
    left: -5px;
  }
  
  .acScore:hover{
    background: url("../img/home/active-score.png");
    background-repeat: no-repeat;
    background-size: 180px;
    left: -7.5px;
  }
  .acProfile:hover{
    background: url("../img/home/active-profile.png");
    background-repeat: no-repeat;
    left: -9px;
    background-size: 180px;
  }
  .acLogout:hover{
    background: url("../img/home/active-logout.png");
    background-repeat: no-repeat;
    top: -50px;
    left: -11px;
    background-size: 140px;
  }
  
  
  
  
  
  /* Menu content */
  
  .menu-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu-ham {
    display: none;
  }
  
  .menu-btn {
    width: auto;
    display: block;
    background-color: #1cb9ff;
    border-radius: 0 0 50px 50px;
  }
  
  .menu-btn h1 {
    font-weight: 900;
    font-size: 2.5rem;
    color: #ffffff;
    padding: 20px;
  }
/* Slide Show */
.slide-show-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -120px;
}

.slide-show {
  width: 90%;
  min-width: 800px;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-show .awssld__content {
  background-color: rgba(0, 0, 0, 0) !important;
}

.slider-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 650px;
  width: 80vw;
}

.awssld__bullets {
  z-index: 5;
  top: calc(82% - (0.5 * var(--control-button-height))) !important;
}
.awssld__bullets .awssld__bullets--active {
  transform: none !important;
}
.awssld__bullets button {
  transition: none !important;
}

.awssld {
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #c4d0f6 !important;
  --control-bullet-active-color: #f1441f !important;
}

.left-btn {
  background: url("../img/home/left-btn.png");
  background-size: cover;
  background-repeat: none;
  cursor: pointer;
  width: 126px;
  height: 126px;
  min-width: 126px;
  min-height: 126px;
}
.right-btn {
  background: url("../img/home/right-btn.png");
  background-size: cover;
  background-repeat: none;
  cursor: pointer;
  width: 126px;
  height: 126px;
  min-width: 126px;
  min-height: 126px;
}

/* Annoucement */

.announcement-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -5%;
}

.notice-title {
  margin: -50px 0 70px 0;
}
.notice-title h1 {
  color: white;
  font-size: 3rem;
}

.notice-wrap {
  position: relative;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.notice-wrap > div {
  flex: 0 1 400px;
  margin: 0 20px 90px 20px;
}

.notice-middle {
  width: 500;
  background-color: #32c0ff;
}

.shout {
  position: absolute;
  margin: -35px 0 0 -20px;
}

.news-wrap {
  display: grid;
  place-items: center;
}

.hot-news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 90%;
}

.hot-news h1 {
  color: #f9da98;
  font-size: 2.2rem;
}
.hot-news span {
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
}

.news-seperator {
  width: 90%;
  border-bottom: 3px solid #ef896c;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.news-title h2 {
  color: white;
  font-size: 2rem;
}

.news span {
  color: white;
  font-size: 24px;
}

.news-link {
  margin: 20px 0;
  width: 100%;
}

.news-link a {
  float: right;
  color: #ef896c;
  font-size: 26px;
  font-weight: 700;
  text-decoration: underline;
}

.see-all-btn {
  display: block;
  width: 172px;
  height: 115px;
  background: url("../img/home/see-all-btn.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}

/* Subject Home */
.subject-home {
  min-height: 1252px;
  width: 100%;
  background: url("../img/home/subject-home-bg.png");
  background-size: cover;
}

.subject-home-container {
  min-height: 1252px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subject-home-title {
  position: relative;
  background-repeat: no-repeat;
  background-image: url("../img/home/getstart-title.png");
  width: 525px;
  height: 100px;
  color: white;
  margin-top: 100px;
}

.subject-home-content {
  background: rgba(246, 249, 217, 0.3);
  width: 1000px;
  min-width: 441px;
  min-height: 64vh;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.subject-home-content > .subject-home-wrap {
  flex: 0 1 350px;
  margin: 100px 50px 50px 50px;
}

.subject-home-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subject-outter-border {
  display: grid;
  place-items: center;
  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  border: 0px solid;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  min-width: 350px;
  height: 400px;
  background-color: white;
}

.subject-inner-border {
  display: grid;
  place-items: center;
  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  border: 0.83px dashed #838383;
  width: 320px;
  height: 370px;
  padding: 25px;
}

.subject-btn {
  display: grid;
  place-items: center;
  width: 244px;
  height: 87px;
  background: url("../img/home/subject-btn.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 50px;
}

.subject-btn h1 {
  color: white;
  margin: 0;
  font-size: 2.5rem;
}

/* Map Home */
.map-home {
  position: relative;
  margin-top: -170px;
  min-height: 932px;
  width: 100%;
  background: url("../img/home/map-bg.png");
  background-size: cover;
}

.map-container {
  min-height: 932px;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.map-left {
  width: auto;
}
.map-right {
  width: auto;
}

.map-right img {
  width: 100%;
  height: auto;
}

/* Footer */

.footer-bg {
  position: relative;
  background: url("../img/home/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 446px;
  margin-top: -140px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  margin-top: 140px;
}
.footer-content .ant-space-item {
  min-height: 300px;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 447px;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}
.reset-pass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  min-width: 200px;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.footer-logo img {
  width: 100%;
  height: auto;
}
