.lesson-container {
  min-height: 86vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lesson-title {
  background: url("../img/home/header-bg.png");
  min-width: 281.58px;
  min-height: 126.16px;
  display: grid;
  place-items: center;
  margin: 50px 0;
}

.lesson-title > h1 {
  margin: 0px !important;
  font-size: 3rem;
  color: white;
}

.lesson-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin: 0 20px 10vh 20px;
}

.lesson-wrap > div {
  aspect-ratio: 16/9;
}

/* Iframe */
.non-fs {
  width: 80vw;
  height: calc(60vh - 24px);
  overflow: hidden;
  position: relative;
}
.fs {
  height: calc(100vh + 24px);
  overflow: hidden;
  position: relative;
}

#nonfs {
  height: 60vh;
}

#fs {
  height: calc(100vh + 24px) !important;
}

.tool-bar {
  width: 100%;
  height: 24px;
  overflow: hidden;
  position: relative;
  background-color: lightgrey;
  display: flex;
  justify-content: flex-end;
}
