.lesson-container {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lesson-title {
  background: url("../img/title-layer.png");
  min-width: 272px;
  min-height: 100px;
  display: grid;
  place-items: center;
  margin: 70px 0 100px 0;
}

.lesson-title > h1 {
  font-size: 2.5rem;
  color: white;
}

.lesson-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin: 0 0 50px 0;
}

.lesson-wrap > div {
  aspect-ratio: 16/9;
}

/* Iframe */
.non-fs {
  height: 55vh;
  overflow: hidden;
  position: relative;
}

.fs {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#nonfs {
  height: 55vh;
}

#fs {
  height: 100vh;
}

.tool-bar {
  width: 50px;
  height: 21px;
  background-color: #444444;
  overflow: hidden;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -112%);
  display: grid;
  place-items: center;
}

.tool-bar-fs {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 21px;
  background-color: #444444;
  overflow: hidden;
  display: grid;
  place-items: center;
  z-index: 999;
  margin: 2px 5px;
}

#showMe {
  animation: cssAnimation 0s 2s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to {
    visibility: visible;
  }
}

.full-btn {
  width: 18px;
  height: 18px;
  cursor: pointer;
  background: url("../img/icon-full.png");
  background-size: contain;
}

/* ! Lecture */
.lecture-container {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lecture-title {
  background: url("../img/home/header-bg.png");
  min-width: 281.58px;
  min-height: 126.16px;
  display: grid;
  place-items: center;
  margin: 50px 0 100px 0;
}

.lecture-title > h1 {
  margin: 0px !important;
  font-size: 3rem;
  color: white;
  width: auto;
}

.lecture-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
}

/* ! Exercise & Game btn */

@media (max-width: 3000px) {
  .bottom-btn {
    display: none;
  }
  .side-btn {
    position: absolute;
    left: 110%;
    bottom: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
  }

  .lesson-exercise-btn {
    margin-bottom: 100px;
  }
}

@media (max-width: 1650px) {
  .side-btn {
    display: none;
  }
  .bottom-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .lesson-exercise-btn {
    margin-bottom: 0;
    margin-right: 100px;
  }
}

.lesson-exercise-btn {
  width: 190px;
  height: 125px;
  background: url("../img/lesson/exercise-btn.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.game-btn {
  width: 200px;
  height: 125px;
  background: url("../img/lesson/game-btn.png");
  background-size: contain;
  background-repeat: no-repeat;
}
