.lesson-container {
  min-height: 100vh;
  height: auto;
  width: 100%;
}

.lesson-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 12% 0 50px 0;
  max-width: 1083px;
}

.lesson-wrap > div {
  aspect-ratio: 16/9.36;
}

/* Iframe */
.non-fs {
  height: 65vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.fs {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#nonfs {
  height: 65vh;
}

#fs {
  height: 100vh;
}

.tool-bar {
  width: 50px;
  height: 21px;
  background-color: #444444;
  overflow: hidden;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -112%);
  display: grid;
  place-items: center;
}

.tool-bar-fs {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 21px;
  background-color: #444444;
  overflow: hidden;
  display: grid;
  place-items: center;
  z-index: 999;
  margin: 2px 5px;
}

#showMe {
  animation: cssAnimation 0s 2s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to {
    visibility: visible;
  }
}

.full-btn {
  width: 18px;
  height: 18px;
  cursor: pointer;
  background: url("../img/icon-full.png");
  background-size: contain;
}

/* ! Lecture */
.lecture-container {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lecture-title {
  background: url("../img/home/header-bg.png");
  min-width: 281.58px;
  min-height: 126.16px;
  display: grid;
  place-items: center;
  margin: 50px 0 100px 0;
}

.lecture-title > h1 {
  margin: 0px !important;
  font-size: 3rem;
  color: white;
  width: auto;
}

.lecture-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
}

/* ! Exercise & Game btn */

@media (max-width: 3000px) {
  .lesson-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bottom-btn {
    display: none;
  }
  .lesson-exercise-btn {
    width: 196px;
    height: 370px;
    background: url("../img/lesson/exercise-btn.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .game-btn {
    width: 196px;
    height: 370px;
    background: url("../img/lesson/game-btn.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .lesson-exercise-btn:hover {
    background: url("../img/lesson/exercise-btn-hover.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .game-btn:hover {
    background: url("../img/lesson/game-btn-hover.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media (max-width: 1650px) {
  .lesson-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .side-btn {
    display: none;
  }
  .bottom-btn {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5%;
  }
  .lesson-exercise-btn {
    width: 196px;
    height: 104px;
    background: url("../img/lesson/exercise-bottom-btn.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .game-btn {
    width: 196px;
    height: 104px;
    background: url("../img/lesson/game-bottom-btn.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .lesson-exercise-btn:hover {
    background: url("../img/lesson/exercise-bottom-btn-hover.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .game-btn:hover {
    background: url("../img/lesson/game-bottom-btn-hover.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
