.lesson-container {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lesson-title {
  background: url("../img/home/header-bg.png");
  min-width: 281.58px;
  min-height: 126.16px;
  display: grid;
  place-items: center;
  margin: 50px 0;
}

.lesson-title > h1 {
  margin: 0px !important;
  font-size: 3rem;
  color: white;
}

.lesson-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin: 0 20px 10vh 20px;
  background: black;
}

.lesson-wrap > div {
  aspect-ratio: 16/9;
}

/* Iframe */
.non-fs {
  height: calc(75vh - 25px);
  overflow: hidden;
  position: relative;
}
.fs {
  height: calc(100vh + 24px);
  overflow: hidden;
  position: relative;
}

#nonfs {
  height: 75vh;
}

#fs {
  height: calc(100vh + 24px) !important;
}

.tool-bar {
  width: 100%;
  height: 24px;
  overflow: hidden;
  position: relative;
  background-color: lightgrey;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.full-btn {
  width: 20px;
  height: 20px;
  margin-right: 2px;
  cursor: pointer;
  background: url("../img/icon-full.png");
  background-size: contain;
}

/* ! Lecture */
.lecture-container {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lecture-title {
  background: url("../img/home/header-bg.png");
  min-width: 281.58px;
  min-height: 126.16px;
  display: grid;
  place-items: center;
  margin: 50px 0 100px 0;
}

.lecture-title > h1 {
  margin: 0px !important;
  font-size: 3rem;
  color: white;
  width: auto;
}

.lecture-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
}
