.map-page {
  height: 86vh;
  width: 100%;
  /* The image used */
  background-image: url("../img/login-bg.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 86vh;
}

.map {
  position: absolute !important;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
  min-width: 80vw;
  min-height: 80vh;
  width: 80vw;
  height: 50vh;
}

.map-container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.map-item {
  position: absolute;
  min-width: 20%;
  min-height: 30%;
  width: 20%;
  height: 30%;
  display: grid;
  place-items: center;
  background-color: lightslategray;
  cursor: pointer;
}

h1 {
  margin: 0px !important;
  font-size: 3rem;
  font-weight: bold;
}

.lesson {
  top: 20%;
  left: 25%;
  transform: translate(-25%, -20%);
}
.exercise {
  top: 20%;
  left: 75%;
  transform: translate(-75%, -20%);
}
.progress {
  top: 80%;
  left: 25%;
  transform: translate(-25%, -80%);
}
.game {
  top: 80%;
  left: 75%;
  transform: translate(-75%, -80%);
}

.lesson-items {
  position: absolute;
  top: 8%;
  left: -2%;
  min-width: 20%;
  min-height: 40%;
  width: 20%;
  height: 50%;
}

.item {
  display: grid;
  place-items: center;
  background-color: wheat;
  height: 12vh;
  width: 15vw;
}
.item:hover {
  background-color: lightblue;
}
