.notice-container {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 250px;
}

.notice-page-wrap {
  position: relative;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
}

.outter-border {
  display: block;
  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  border: 0px solid;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  min-width: 400px;
  height: 345px;
  background-color: white;
  display: grid;
  place-items: center;
  margin: 20px;
}

.inner-border {
  display: block;
  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  border: 0.83px dashed #838383;
  width: 354px;
  height: 304px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}

.inner-border .notice-page-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}

.inner-border .notice-content {
  margin-top: 15px;
}
/* Notice Detail */

.notice-outter-border {
  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  border: 0px solid;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  width: 1200px;
  min-height: 732.64px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice-inner-border {
  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  border: 0.83px dashed #838383;
  width: 1130px;
  min-height: 649.94px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  margin: 25px;
  padding: 25px;
}

.announce-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: url("../img/notice/announce-title.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 1000px;
  height: 82px;
}

.announce-title > h1 {
  position: relative;
  color: white;
  left: 80px;
  font-size: 1.8rem;
}

.annouce-content img {
  width: 100%;
  height: auto;
}

.news-back-btn {
  position: absolute;
  width: 170.56px;
  height: 130.31px;
  background: url("../img/back-btn.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  bottom: -10%;
  left: 5%;
  z-index: 999;
}
