.profile-container {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-container h1 {
  font-size: 4vh;
  color: #263b80;
}

.student-logo {
  display: grid;
  place-items: center;
  background: url("../img/profile/user-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 250px;
}
