.quiz-bg {
  height: 100%;
  width: 100%;
  background: url("../img/quiz/quiz-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.quiz-container {
  min-height: 100vh;
  height: auto;
  width: auto;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
}

.quiz-title {
  background: url("../img/home/header-bg.png");
  min-width: 281.58px;
  min-height: 126.16px;
  width: 281.58px;
  height: 126.16px;
  display: grid;
  place-items: center;
  margin: 50px 0;
}

.quiz-title > h1 {
  margin: 0px !important;
  font-size: 3rem;
  color: white;
}

.quiz-wrap {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  width: 90vw;
}
.quiz-wrap > div {
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
}

.quiz-left {
  width: 500px;
  min-width: 500px;
  min-height: 683px;
  height: 683px;
  background: violet;
}

.quiz-left img {
  width: 100%;
  height: 100%;
}
.quiz-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 800px;
  min-height: 683px;
  height: 683px;
}

.question {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  margin: 0 50px;
}

.quiz-right > .answer {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  min-width: 768px;
}

.answer > div {
  flex: 1 1 370px;
  -webkit-flex: 1 1 370px;
}

.answer-item {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: centert;
  -webkit-justify-content: center;
  align-items: center;
  align-items: center;
  -webkit-align-items: center;
  min-height: 150px;
}

.answer-item > div {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.option {
  position: absolute;
  width: 70px;
  height: 70px;
  display: grid;
  place-items: center;
  margin-right: 25%;
}

.option > h2 {
  color: white;
  margin: 0 !important;
}

.option-text {
  display: grid;
  place-items: center;
  width: 370px;
  min-height: 130px;
  height: auto;
  border-radius: 20px;
  background: url("../img/quiz/option-box.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.selected {
  background: lightpink;
}

.option-text > span {
  width: auto;
  height: auto;
  margin: 0 80px;
  color: white;
  font-size: 18px;
}

.quiz-submit-btn {
  display: grid;
  place-items: center;
  cursor: pointer;
  width: 250px;
  height: 135px;
  background: url("../img/quiz/quiz-submit-btn.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.quiz-sound {
  cursor: pointer;
  width: 110px;
  height: 74px;
  background: url("../img/quiz/quiz-sound.png");
  background-size: contain;
  background-repeat: no-repeat;
}
