.quiz-container {
  min-height: 100vh;
  height: auto;
  width: auto;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
}

.quiz-title {
  background: url("../img/home/header-bg.png");
  min-width: 281.58px;
  min-height: 126.16px;
  width: 281.58px;
  height: 126.16px;
  display: grid;
  place-items: center;
  margin: 50px 0;
}

.quiz-title > h1 {
  margin: 0px !important;
  font-size: 3rem;
  color: white;
}

.quiz-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
}

.quiz-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  min-width: 500px;
  min-height: 683px;
  height: auto;
}

.quiz-left > div {
  flex: 1 1 300px;
  margin: 50px;
}

.question-img {
  position: relative;
  border: 0.75rem solid #263b80;
  border-radius: 30px;
}
@media (max-width: 3000px) {
  .question-img {
    max-width: 500px;
  }
}
@media (max-width: 1120px) {
  .question-img {
    max-width: 350px;
  }
}

.question-img img {
  border-radius: 17px;
  width: 100%;
  height: 100%;
}

.question {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  width: 645px;
  height: auto;
}

.question-title > h1 {
  font-size: 42px;
  font-weight: bold;
  color: #263b80;
}

.question-text > h2 {
  font-size: 32px;
  font-weight: bold;
  color: #263b80;
}

.quiz-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: auto;
  margin-bottom: 50px;
}

.quiz-right > .answer {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  min-width: 768px;
}

.answer > div {
  flex: 1 1 300px;
  margin: 20px;
}

.answer-item {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: centert;
  -webkit-justify-content: center;
  align-items: center;
  align-items: center;
  -webkit-align-items: center;
  min-height: 150px;
}

.answer-item > div {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.option {
  position: absolute;
  width: 70px;
  height: 70px;
  display: grid;
  place-items: center;
  margin-right: 25%;
}

.option > h2 {
  color: white;
  margin: 0 !important;
}

.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.quiz-sound {
  cursor: pointer;
  width: 110px;
  height: 74px;
  background: url("../img/quiz/quiz-sound.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* ! Quiz animation */

#showMe {
  animation: cssAnimation 0s 0.5s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to {
    visibility: visible;
  }
}

/* !Option Button */
.option-btn {
  position: relative;
  display: grid;
  place-items: center;
  min-width: 300px;
  min-height: 130px;
  width: auto;
  background-color: #96d6f8;
  border: 0.5rem solid #ffff;
  border-radius: 50px;
  -webkit-box-shadow: 0px 8px 0px 1px rgba(44, 119, 157, 1);
  -moz-box-shadow: 0px 8px 0px 1px rgba(44, 119, 157, 1);
  box-shadow: 0px 8px 0px 1px rgba(44, 119, 157, 1);
  cursor: pointer;
}
.option-btn:hover {
  -webkit-box-shadow: 0px 0px 0px 0px;
  -moz-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
}
.option-btn h1 {
  position: relative;
  margin: 0;
  color: #263b80;
  font-size: 2.5rem;
  font-weight: 800;
  z-index: 10;
  padding: 8px;
}
.option-oval {
  position: absolute;
  width: 115px;
  height: 37px;
  border-radius: 50px;
  background-color: #e1f4ff;
  top: 10%;
  right: 8%;
}

/* !Correct Btn */
.option-correct-btn {
  position: relative;
  display: grid;
  place-items: center;
  min-width: 300px;
  min-height: 130px;
  width: auto;
  background-color: #b1e322;
  border: 0.5rem solid #ffff;
  border-radius: 50px;
  -webkit-box-shadow: 0px 8px 0px 1px rgba(30, 113, 0, 1);
  -moz-box-shadow: 0px 8px 0px 1px rgba(30, 113, 0, 1);
  box-shadow: 0px 8px 0px 1px rgba(30, 113, 0, 1);
  cursor: pointer;
}
.option-correct-btn:hover {
  -webkit-box-shadow: 0px 0px 0px 0px;
  -moz-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
}
.option-correct-btn h1 {
  position: relative;
  margin: 0;
  color: #1e7100;
  font-size: 2.5rem;
  font-weight: 800;
  z-index: 10;
  padding: 8px;
}
.option-correct-oval {
  position: absolute;
  width: 115px;
  height: 37px;
  border-radius: 50px;
  background-color: #cefb2d;
  top: 10%;
  right: 8%;
}

/* !Wrong Btn */
.option-wrong-btn {
  position: relative;
  display: grid;
  place-items: center;
  min-width: 300px;
  min-height: 130px;
  width: auto;
  background-color: #f1441f;
  border: 0.5rem solid #ffff;
  border-radius: 50px;
  -webkit-box-shadow: 0px 8px 0px 1px rgba(166, 43, 16, 1);
  -moz-box-shadow: 0px 8px 0px 1px rgba(166, 43, 16, 1);
  box-shadow: 0px 8px 0px 1px rgba(166, 43, 16, 1);
  cursor: pointer;
}
.option-wrong-btn:hover {
  -webkit-box-shadow: 0px 0px 0px 0px;
  -moz-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
}
.option-wrong-btn h1 {
  position: relative;
  margin: 0;
  color: #ffff;
  font-size: 2.5rem;
  font-weight: 800;
  z-index: 10;
  padding: 8px;
}
.option-wrong-oval {
  position: absolute;
  width: 115px;
  height: 37px;
  border-radius: 50px;
  background-color: #ff7659;
  top: 10%;
  right: 8%;
}

/* ! Overview */

.quiz-overview-container {
  min-height: 100vh;
  height: auto;
  width: auto;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.check-mark {
  position: absolute;
  width: 59px;
  height: 48px;
  top: 0;
  right: 3%;
  background-image: url("../img/exercise/check-mark.png");
  z-index: 10;
}
