.unit-container {
  min-height: 100vh;
  width: 90%;
  display: grid;
  place-items: center;
}

.unit-wrap {
  width: 90%;
  min-width: 800px;
  min-height: 75vh;
  display: grid;
  place-items: center;
  margin: 5% 0 50px 0;
}

.unit-wrap .awssld__content {
  position: relative;
  background-color: rgba(0, 0, 0, 0) !important;
  display: grid;
  place-items: center;
}

.unit-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 650px;
  width: 800px;
  min-height: 460px;
  height: auto;
  background-color: #bbe9fe;
  border: 0.5rem solid #490d85;
  border-radius: 100px;
}

.unit-content > a {
  flex: 0 1 195px;
  margin: 50px 20px 50px 20px;
}

.unit-title {
  position: absolute;
  top: 0;
  margin-top: -5%;
  background: url("../img/unit/unit-title.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 232px;
  min-height: 75px;
}
.progress-test {
  position: absolute;
  bottom: -11%;
}

.progress-test-btn {
  position: relative;
  text-align: center;
  min-width: 244px;
  min-height: 92px;
  background-color: #00dc6a;
  border: 0.5rem solid #009749;
  border-radius: 50px;
  -webkit-box-shadow: 0px 8px 0px 1px rgba(30, 113, 0, 1);
  -moz-box-shadow: 0px 8px 0px 1px rgba(30, 113, 0, 1);
  box-shadow: 0px 8px 0px 1px rgba(30, 113, 0, 1);
  cursor: pointer;
}
.progress-test-btn:hover {
  -webkit-box-shadow: 0px 0px 0px 0px;
  -moz-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
  top: 8px;
}
.progress-test-btn h1 {
  position: relative;
  margin: 0;
  color: white;
  font-size: 2.5rem;
  font-weight: 800;
  z-index: 10;
}

.oval-button {
  position: absolute;
  width: 115px;
  height: 37px;
  border-radius: 50px;
  background-color: #52ffa5;
  top: 10%;
  right: 8%;
}

.unit-btn {
  position: relative;
  display: grid;
  place-items: center;
  width: 177px;
  height: 195px;
  border-radius: 30px;
  border: 0.5rem solid #ffc853;
  -webkit-box-shadow: 0px 8px 0px 4px #dfaa3a;
  -moz-box-shadow: 0px 8px 0px 4px #dfaa3a;
  box-shadow: 0px 8px 0px 4px #dfaa3a;
}

.unit-btn:hover {
  -webkit-box-shadow: 0px 0px 0px 0px;
  -moz-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
  top: 8px;
}

.unit-btn h1 {
  margin: 0;
  color: white;
  font-size: 3.6rem;
  font-weight: 800;
  text-align: center;
}

/* ! Unit Detail */

.unit-detail-container {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

.unit-detail-title {
  position: relative;
  display: grid;
  place-items: center;
  font-family: cursive;
  font-size: 4em;
  font-weight: bold;
  color: rgb(255, 200, 83);
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: rgb(38, 59, 128);
}

.unit-detail-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 650px;
  width: 110%;
  min-height: 460px;
  height: auto;
  border-radius: 100px;
}

.unit-detail-wrap > a {
  flex: 0 1 92px;
  margin: 50px 120px 50px 120px;
}

.lesson-frame {
  position: relative;
  display: grid;
  place-items: center;
  border: 1px solid black;
  width: 310px;
  transform: rotate(45deg);
  background: rgb(246, 120, 0);
  border-radius: 25px;
  border: 18px solid rgb(200, 100, 5);
  -webkit-box-shadow: 23px 23px 0px 1px rgb(142, 73, 6);
  -moz-box-shadow: 23px 23px 0px 1px rgb(142, 73, 6);
  box-shadow: 23px 23px 0px 1px rgb(142, 73, 6);
  cursor: pointer;
}

.lesson-frame:hover {
  -webkit-box-shadow: 0px 0px 0px 0px;
  -moz-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
  top: 30px;
}

.lesson-frame:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.lesson-content {
  position: absolute;
  transform: rotate(-45deg);
  font-family: cursive;
}
.lesson-content > h1 {
  color: white;
  font-size: 3.5rem;
  text-shadow: 2px 0 #888888;
  font-weight: bold;
}

.arrow-btn {
  position: absolute;
  display: grid;
  place-items: center;
  width: 170.56px;
  height: 130.31px;
}

.arrow-btn h1 {
  margin: 0px !important;
  font-size: 1.5rem;
  color: white;
  width: auto;
  cursor: pointer;
  z-index: 5;
}

.left-arrow {
  top: 50px;
  left: 100px;
  background: url("../img/left-btn.png");
  background-size: contain;
  background-repeat: no-repeat;
}
