.unit-bg {
  height: 100%;
  width: 100%;
  background: url("../img/unit/unit-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.unit-container {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.unit-title {
  background: url("../img/home/header-bg.png");
  min-width: 281.58px;
  min-height: 126.16px;
  display: grid;
  place-items: center;
  margin: 50px 0;
}

.unit-title > h1 {
  margin: 0px !important;
  font-size: 3rem;
  color: white;
  width: auto;
}

.unit-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 55vw;
  min-width: 770px;
  min-height: 75vh;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  margin: 20px 0;
}
.unit-wrap > div {
  flex: 1 1 528px;
}

.unit-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.unit-btn-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0;
}

.unit-btn {
  display: grid;
  place-items: center;
  cursor: pointer;
  min-width: 170px;
  min-height: 110px;
}

.unit-btn > h2 {
  color: black;
  font-size: 1.8rem;
}

.blue-1 {
  background: url("../img/unit/blue-1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.blue-2 {
  background: url("../img/unit/blue-2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.green-1 {
  background: url("../img/unit/green-1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.green-2 {
  background: url("../img/unit/green-2.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.orange-1 {
  background: url("../img/unit/orange-1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.orange-2 {
  background: url("../img/unit/orange-2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.purple-1 {
  background: url("../img/unit/purple-1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.purple-2 {
  background: url("../img/unit/purple-2.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.red-1 {
  background: url("../img/unit/red-1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.red-2 {
  background: url("../img/unit/red-2.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.yellow-1 {
  background: url("../img/unit/yellow-1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.yellow-2 {
  background: url("../img/unit/yellow-2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* ! Unit Detail */
.unit-detail-title {
  background: url("../img/home/header-bg.png");
  min-width: 281.58px;
  min-height: 126.16px;
  display: grid;
  place-items: center;
  margin: 50px 0 25% 0;
}

.unit-detail-title > h1 {
  margin: 0px !important;
  font-size: 3rem;
  color: white;
  width: auto;
}

.unit-detai-btn {
  display: grid;
  place-items: center;
  width: 320px;
  height: 150px;
  background: url("../img/big-layer-btn.png");
  background-size: contain;
}

.unit-detai-btn h1 {
  margin: 0px !important;
  font-size: 3rem;
  color: white;
  width: auto;
}

.arrow-btn {
  position: absolute;
  display: grid;
  place-items: center;
  width: 170.56px;
  height: 130.31px;
}

.arrow-btn h1 {
  margin: 0px !important;
  font-size: 1.5rem;
  color: white;
  width: auto;
  cursor: pointer;
  z-index: 5;
}

.left-arrow {
  top: 50px;
  left: 100px;
  background: url("../img/left-btn.png");
  background-size: contain;
}
