html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Wrap All */
.contents {
  position: relative;
  width: 100%;
  min-width: 1024px;
  min-height: 100%;
}
.scence {
  position: relative;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  min-width: 1024px;
}

.page {
  position: relative;
  width: 100%;
}

.page-contain {
  position: relative;
  width: 1024px;
  margin: 0 auto;
}

.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.ant-layout {
  background: rgba(0, 0, 0, 0) !important;
}

.back-btn {
  position: absolute;
  width: 170.56px;
  height: 130.31px;
  background: url("./resources/img/back-btn.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  bottom: 13%;
  left: 5%;
  z-index: 999;
}
.ant-pagination {
  z-index: 10;
}

.general-btn {
  position: relative;
  text-align: center;
  min-width: 244px;
  min-height: 92px;
  background-color: #00dc6a;
  border: 0.5rem solid #009749;
  border-radius: 50px;
  -webkit-box-shadow: 0px 8px 0px 1px rgba(30, 113, 0, 1);
  -moz-box-shadow: 0px 8px 0px 1px rgba(30, 113, 0, 1);
  box-shadow: 0px 8px 0px 1px rgba(30, 113, 0, 1);
  cursor: pointer;
}

.general-btn:hover {
  top: 8px;
  -webkit-box-shadow: 0px 0px 0px 0px;
  -moz-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
}
.general-btn h1 {
  position: relative;
  margin: 0;
  color: white;
  font-size: 2.5rem;
  font-weight: 800;
  z-index: 10;
}

.general-oval {
  position: absolute;
  width: 115px;
  height: 37px;
  border-radius: 50px;
  background-color: #52ffa5;
  top: 10%;
  right: 8%;
}
.general-title {
  position: relative;
  display: grid;
  place-items: center;
  min-width: 244px;
  min-height: 92px;
  background-color: #f4c417;
  border: 0.5rem solid #490d85;
  border-radius: 50px;
}
.general-title h1 {
  position: relative;
  margin: 0;
  color: white;
  font-size: 2.5rem;
  font-weight: 800;
  z-index: 10;
}
