html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Wrap All */
.contents {
  position: relative;
  width: 100%;
  min-width: 1024px;
  min-height: 100%;
}
.scence {
  position: relative;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  min-width: 1024px;
}

.page {
  position: relative;
  width: 100%;
}

.page-contain {
  position: relative;
  width: 1024px;
  margin: 0 auto;
}

.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.ant-layout {
  background: rgba(0, 0, 0, 0) !important;
}

.back-btn {
  position: absolute;
  width: 170.56px;
  height: 130.31px;
  background: url("./resources/img/back-btn.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  bottom: 13%;
  left: 5%;
}
